@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color-background-light: #ffffff; 
    --color-background-dark: #0F1624; 
    --color-text-light: #0F1624; 
    --color-text-dark: #FFFFFF;
    --font-size-large: 30px;
    --font-size-medium: 24px;
    --font-size-small: 18px;
}
html,
body {    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    gap: 0;
    opacity: 1;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
}

body.light {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-large);
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: var(--color-text-dark);
    background-color: var(--color-background-dark);
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

body.dark .burger-menu {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
    border-radius: 10%;
    border-color: #FFFFFF;
}

body.light .burger-menu {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
    border-radius: 10%;
    border-color: #000000;
}

.burger-menu {
    display: none;
    background: none;
    font-size: var(--font-size-large);
    cursor: pointer;
    margin-left: 20px;
    position: absolute;
    left: 20px;
    top: 15px;
    transition: background-color 0.3s, color 0.3s;
}

nav.light {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
}

.burger-menu:hover {
    filter: brightness(1.2);    
}

.nav-item {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: color 0.3s ease;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    
}

body.dark .nav-items {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
}

body.light .nav-items {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
}

body.light .nav-item {
    color: var(--color-text-light);
}

body.light .nav-item:hover {
    color: #3498db;
}

body.light .nav-item:hover::after {
    background-color: #3498db;
}

.nav-items {
    display: contents;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: background-color 0.3s, color 0.3s;
}

.nav-items.open {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    
}

.navbar-list {
    display: flex;
    flex-grow: 1;
  justify-content: center;
}

a {
    position: relative;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #3498db;
    transition: width 0.3s ease, background-color 0.3s ease;
    bottom: -5px;
    left: 0;
}

a:hover {
    color: #3498db;
}

a:hover::after {
    width: 100%;
    background-color: #3498db;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: 0% 5%;
    
}

.navbar-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    
}

.navbar-list li {
    display: inline;
    margin: 0 20px;
    
}

.nav-item {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: color 0.3s ease;
    
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #3498db;
    transition: width 0.3s ease, background-color 0.3s ease;
    bottom: -5px;
    left: 0;
}

.nav-item:hover {
    color: #3498db;
}

.nav-item:hover::after {
    width: 100%;
    background-color: #3498db;
}

.navbar-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.navbar-icons img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.theme-toggle img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.theme-toggle {
    position: relative;
    display: inline-block;
}

.theme-toggle::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #3498db;
    transition: width 0.3s ease, background-color 0.3s ease;
    bottom: -5px;
    left: 0;
}

.theme-toggle:hover::after {
    width: 100%;
}

.theme-toggle:hover img {
    opacity: 0.7;
    transform: scale(1.1);  
}

.language-toggle img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.language-toggle {
    position: relative;
    display: inline-block;
}

.language-toggle::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #3498db;
    transition: width 0.3s ease, background-color 0.3s ease;
    bottom: -5px;
    left: 0;
}

.language-toggle:hover::after {
    width: 100%;
}

.language-toggle:hover img {
    opacity: 0.7;
    transform: scale(1.1);
}

.hero {
    font-family: Poppins;
    font-size: var(--font-size-large);
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    padding: 80px 10px;
    color: var(--color-text-dark);
    background-color: var(--color-background-dark);
    transition: background-color 0.3s, color 0.3s;
}

.hero h1 {
    padding: 0;
}

.hero.light {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
}

.hero p {
    color: #BCBCBC;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 40px 0 0;
    margin:0 130px 0 130px ;
}

body.light .hero p {
    color: #000000;
}

section {
    font-size: var(--font-size-large);
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
    margin: 0;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

section.light {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
}

.Count {
    font-size: 200px;
}

#projects {
    font-size: var(--font-size-large);
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    padding: 30px 20px;
    color: var(--color-text-dark);
    background-color: var(--color-background-dark);
    transition: background-color 0.3s, color 0.3s;
}

#projects.light {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding: 50px 20px;
    color: var(--color-text-dark);
    transition: background-color 0.3s, color 0.3s;
}

.project-list.light {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    max-width: 300px;
    background-color: #3f3f3f;
}

.project-card.light {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-link:hover {
    text-decoration: underline;
}

.about-section {
    text-align: center;
    padding: 20px;
}

#about {
    font-size: var(--font-size-large);
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    padding: 30px 20px;
    color: var(--color-text-dark);
    background-color: var(--color-background-dark);
    transition: background-color 0.3s, color 0.3s;
}

#about.light {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
}

.about-section {
    text-align: center;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
    padding-bottom: 35px;
    color: var(--color-text-dark);
    background-color: var(--color-background-dark);
    transition: background-color 0.3s, color 0.3s;
}

.footer.light {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.contact-link {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--color-text-dark);
}

.contact-link.light {
    color: var(--color-text-light);
}

.contact-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #3498db;
    transition: width 0.3s ease, background-color 0.3s ease;
    bottom: -5px;
    left: 0;
}

.contact-link:hover {
    color: #3498db;
}

.contact-link:hover::after {
    width: 100%;
    background-color: #3498db;
}

.footer-item {
    font-family: Poppins;
    font-size: var(--font-size-large);
    font-weight: 300;
    line-height: 10px;
    text-align: left;
    margin: 0 55px;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social img {
    width: 64px;
    height: 64px;
}

.footer-social img.light {
    filter: brightness(0) invert(1);
}

@media (max-width: 1024px) {

    nav {
        text-align: left;
        font-size: var(--font-size-medium);
    }
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--color-background-dark);
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .nav-items.open {
        display: flex;
    }

    .burger-menu {
        font-size: var(--font-size-medium);
        display: block;
        width: 26px;
        height: 30px;
        padding: 0;
        margin-left: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .navbar-icons {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .container {
        flex-direction: column;
    }

    .hero {
        font-size: var(--font-size-medium);
        padding: 60px 10px;
    }

    .hero p {
        font-size: 18px;
        margin: 0 60px 0 60px;
    }

    .section {
        font-size: var(--font-size-medium);
    }

    #projects {
        font-size: var(--font-size-medium);
    }                

    .project-card {
        max-width: 90%;
    }

    #about {
        font-size: var(--font-size-medium);
    }

    .footer-contacts {
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }

    .footer-item {
        text-align: center;
        margin: 10px 0;
        font-size: var(--font-size-medium);
    }
}

@media (max-width: 768px) {
    
    nav {
        font-size: var(--font-size-small);
    }
        
    .navbar-icons img {
        width: 20px;
        height: 20px;
    }

    .burger-menu {
        font-size: var(--font-size-small);
        width: 20px;
        height: 24px;
        padding: 0;
        margin-left: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
    }

    .title-git {
        font-size: 34px;
    }

    .Count {
        font-size: 180px;
    }
    
    .hero {
        font-size: var(--font-size-small);
        padding: 60px 10px;        
    }

    .hero p {
        font-size: 15px;
    }

    .section {
        font-size: var(--font-size-small);
    }

    #projects {
        font-size: var(--font-size-small);
    }

    .project-card {
        max-width: 100%;
        margin: 16px auto;
    }

    #about {
        font-size: var(--font-size-small);
    }

    .about-section {
        padding: 15px; 
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-social img {
        width: 48px;
        height: 48px;
    }

    .contact-link {
        font-size: 20px;
    }

    .footer-title {
        font-size: 24px;
    }

    .footer-item {
        font-size: var(--font-size-small);
    }
}

@media (max-width: 480px) {
    .hero {
        font-size: 18px;
        padding: 60px 10px;
    }

    .title-git {
        font-size: 28px;
    }

    .Count {
        font-size: 150px;
    }

    .project-list {
        flex-direction: column;
    }

    .project-card {
        max-width: 100%;
        padding: 12px;
    }

    .footer-social img {
        width: 40px;
        height: 40px;
    }

    .contact-link {
        font-size: 18px;
    }

    .footer-title {
        font-size: 20px;
    }
}