:root {
    --text-color-light: #0F1624;
    --text-color-dark: #ffffff;
}

.mask {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
    color: transparent;
    background-color: var(--text-color-dark);
    background-clip: text;
    -webkit-background-clip: text;
    overflow: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.revealed {
    opacity: 1;
    transform: translateY(0);
}

.light .mask {
    background-color: var(--text-color-light);
}

.dark .mask {
    background-color: var(--text-color-dark);
}